:root {
  --ods-color-dark-amber-1: hsl(36, 100%, 6.1%);
  --ods-color-dark-amber-2: hsl(35, 100%, 7.6%);
  --ods-color-dark-amber-3: hsl(32, 100%, 10.2%);
  --ods-color-dark-amber-4: hsl(32, 100%, 12.4%);
  --ods-color-dark-amber-5: hsl(33, 100%, 14.6%);
  --ods-color-dark-amber-6: hsl(35, 100%, 17.1%);
  --ods-color-dark-amber-7: hsl(35, 91.0%, 21.6%);
  --ods-color-dark-amber-8: hsl(36, 100%, 25.5%);
  --ods-color-dark-amber-9: hsl(39, 100%, 57.0%);
  --ods-color-dark-amber-10: hsl(43, 100%, 64.0%);
  --ods-color-dark-amber-11: hsl(39, 90.0%, 49.8%);
  --ods-color-dark-amber-12: hsl(39, 97.0%, 93.2%);

  --ods-color-dark-blue-1: hsl(212, 35.0%, 9.2%);
  --ods-color-dark-blue-2: hsl(216, 50.0%, 11.8%);
  --ods-color-dark-blue-3: hsl(214, 59.4%, 15.3%);
  --ods-color-dark-blue-4: hsl(214, 65.8%, 17.9%);
  --ods-color-dark-blue-5: hsl(213, 71.2%, 20.2%);
  --ods-color-dark-blue-6: hsl(212, 77.4%, 23.1%);
  --ods-color-dark-blue-7: hsl(211, 85.1%, 27.4%);
  --ods-color-dark-blue-8: hsl(211, 89.7%, 34.1%);
  --ods-color-dark-blue-9: hsl(206, 100%, 50.0%);
  --ods-color-dark-blue-10: hsl(209, 100%, 60.6%);
  --ods-color-dark-blue-11: hsl(210, 100%, 66.1%);
  --ods-color-dark-blue-12: hsl(206, 98.0%, 95.8%);

  --ods-color-dark-bronze-1: hsl(17, 10.0%, 8.8%);
  --ods-color-dark-bronze-2: hsl(15, 14.8%, 10.6%);
  --ods-color-dark-bronze-3: hsl(15, 16.3%, 14.3%);
  --ods-color-dark-bronze-4: hsl(16, 17.1%, 17.2%);
  --ods-color-dark-bronze-5: hsl(16, 17.6%, 19.6%);
  --ods-color-dark-bronze-6: hsl(16, 18.1%, 22.9%);
  --ods-color-dark-bronze-7: hsl(17, 18.8%, 28.8%);
  --ods-color-dark-bronze-8: hsl(17, 19.6%, 38.0%);
  --ods-color-dark-bronze-9: hsl(17, 20.0%, 54.0%);
  --ods-color-dark-bronze-10: hsl(18, 24.0%, 59.0%);
  --ods-color-dark-bronze-11: hsl(18, 35.0%, 68.5%);
  --ods-color-dark-bronze-12: hsl(18, 57.0%, 94.1%);

  --ods-color-dark-brown-1: hsl(22, 15.0%, 8.7%);
  --ods-color-dark-brown-2: hsl(20, 28.3%, 10.4%);
  --ods-color-dark-brown-3: hsl(20, 28.0%, 14.0%);
  --ods-color-dark-brown-4: hsl(21, 28.4%, 16.5%);
  --ods-color-dark-brown-5: hsl(22, 28.7%, 18.9%);
  --ods-color-dark-brown-6: hsl(23, 29.0%, 22.3%);
  --ods-color-dark-brown-7: hsl(25, 29.5%, 27.8%);
  --ods-color-dark-brown-8: hsl(27, 30.1%, 35.9%);
  --ods-color-dark-brown-9: hsl(28, 34.0%, 51.0%);
  --ods-color-dark-brown-10: hsl(28, 41.4%, 55.8%);
  --ods-color-dark-brown-11: hsl(28, 60.0%, 64.5%);
  --ods-color-dark-brown-12: hsl(30, 67.0%, 94.0%);

  --ods-color-dark-crimson-1: hsl(335, 20.0%, 9.6%);
  --ods-color-dark-crimson-2: hsl(335, 32.2%, 11.6%);
  --ods-color-dark-crimson-3: hsl(335, 42.5%, 16.5%);
  --ods-color-dark-crimson-4: hsl(335, 47.2%, 19.3%);
  --ods-color-dark-crimson-5: hsl(335, 50.9%, 21.8%);
  --ods-color-dark-crimson-6: hsl(335, 55.7%, 25.3%);
  --ods-color-dark-crimson-7: hsl(336, 62.9%, 30.8%);
  --ods-color-dark-crimson-8: hsl(336, 74.9%, 39.0%);
  --ods-color-dark-crimson-9: hsl(336, 80.0%, 57.8%);
  --ods-color-dark-crimson-10: hsl(339, 84.1%, 62.6%);
  --ods-color-dark-crimson-11: hsl(341, 90.0%, 67.3%);
  --ods-color-dark-crimson-12: hsl(332, 87.0%, 96.0%);

  --ods-color-dark-cyan-1: hsl(192, 60.0%, 7.2%);
  --ods-color-dark-cyan-2: hsl(192, 71.4%, 8.2%);
  --ods-color-dark-cyan-3: hsl(192, 75.9%, 10.8%);
  --ods-color-dark-cyan-4: hsl(192, 79.3%, 12.8%);
  --ods-color-dark-cyan-5: hsl(192, 82.5%, 14.6%);
  --ods-color-dark-cyan-6: hsl(192, 86.6%, 16.9%);
  --ods-color-dark-cyan-7: hsl(192, 92.6%, 20.1%);
  --ods-color-dark-cyan-8: hsl(192, 100%, 24.5%);
  --ods-color-dark-cyan-9: hsl(190, 95.0%, 39.0%);
  --ods-color-dark-cyan-10: hsl(188, 100%, 40.0%);
  --ods-color-dark-cyan-11: hsl(186, 100%, 42.2%);
  --ods-color-dark-cyan-12: hsl(185, 73.0%, 93.2%);

  --ods-color-dark-gold-1: hsl(44, 9.0%, 8.3%);
  --ods-color-dark-gold-2: hsl(43, 14.3%, 9.6%);
  --ods-color-dark-gold-3: hsl(42, 15.5%, 13.0%);
  --ods-color-dark-gold-4: hsl(41, 16.4%, 15.6%);
  --ods-color-dark-gold-5: hsl(41, 16.9%, 17.8%);
  --ods-color-dark-gold-6: hsl(40, 17.6%, 20.8%);
  --ods-color-dark-gold-7: hsl(38, 18.5%, 26.4%);
  --ods-color-dark-gold-8: hsl(36, 19.6%, 35.1%);
  --ods-color-dark-gold-9: hsl(36, 20.0%, 49.5%);
  --ods-color-dark-gold-10: hsl(36, 22.3%, 54.5%);
  --ods-color-dark-gold-11: hsl(35, 30.0%, 64.0%);
  --ods-color-dark-gold-12: hsl(49, 52.0%, 93.8%);

  --ods-color-dark-grass-1: hsl(146, 30.0%, 7.4%);
  --ods-color-dark-grass-2: hsl(136, 33.3%, 8.8%);
  --ods-color-dark-grass-3: hsl(137, 36.0%, 11.4%);
  --ods-color-dark-grass-4: hsl(137, 37.6%, 13.7%);
  --ods-color-dark-grass-5: hsl(136, 38.7%, 16.0%);
  --ods-color-dark-grass-6: hsl(135, 39.6%, 19.1%);
  --ods-color-dark-grass-7: hsl(134, 40.3%, 23.8%);
  --ods-color-dark-grass-8: hsl(131, 40.1%, 30.8%);
  --ods-color-dark-grass-9: hsl(131, 41.0%, 46.5%);
  --ods-color-dark-grass-10: hsl(131, 39.0%, 52.1%);
  --ods-color-dark-grass-11: hsl(131, 43.0%, 57.2%);
  --ods-color-dark-grass-12: hsl(137, 72.0%, 94.0%);

  --ods-color-dark-gray-1: hsl(0, 0%, 8.5%);
  --ods-color-dark-gray-2: hsl(0, 0%, 11.0%);
  --ods-color-dark-gray-3: hsl(0, 0%, 13.6%);
  --ods-color-dark-gray-4: hsl(0, 0%, 15.8%);
  --ods-color-dark-gray-5: hsl(0, 0%, 17.9%);
  --ods-color-dark-gray-6: hsl(0, 0%, 20.5%);
  --ods-color-dark-gray-7: hsl(0, 0%, 24.3%);
  --ods-color-dark-gray-8: hsl(0, 0%, 31.2%);
  --ods-color-dark-gray-9: hsl(0, 0%, 43.9%);
  --ods-color-dark-gray-10: hsl(0, 0%, 49.4%);
  --ods-color-dark-gray-11: hsl(0, 0%, 62.8%);
  --ods-color-dark-gray-12: hsl(0, 0%, 93.0%);

  --ods-color-dark-green-1: hsl(146, 30.0%, 7.4%);
  --ods-color-dark-green-2: hsl(155, 44.2%, 8.4%);
  --ods-color-dark-green-3: hsl(155, 46.7%, 10.9%);
  --ods-color-dark-green-4: hsl(154, 48.4%, 12.9%);
  --ods-color-dark-green-5: hsl(154, 49.7%, 14.9%);
  --ods-color-dark-green-6: hsl(154, 50.9%, 17.6%);
  --ods-color-dark-green-7: hsl(153, 51.8%, 21.8%);
  --ods-color-dark-green-8: hsl(151, 51.7%, 28.4%);
  --ods-color-dark-green-9: hsl(151, 55.0%, 41.5%);
  --ods-color-dark-green-10: hsl(151, 49.3%, 46.5%);
  --ods-color-dark-green-11: hsl(151, 50.0%, 53.2%);
  --ods-color-dark-green-12: hsl(137, 72.0%, 94.0%);

  --ods-color-dark-indigo-1: hsl(229, 24.0%, 10.0%);
  --ods-color-dark-indigo-2: hsl(230, 36.4%, 12.9%);
  --ods-color-dark-indigo-3: hsl(228, 43.3%, 17.5%);
  --ods-color-dark-indigo-4: hsl(227, 47.2%, 21.0%);
  --ods-color-dark-indigo-5: hsl(227, 50.0%, 24.1%);
  --ods-color-dark-indigo-6: hsl(226, 52.9%, 28.2%);
  --ods-color-dark-indigo-7: hsl(226, 56.0%, 34.5%);
  --ods-color-dark-indigo-8: hsl(226, 58.2%, 44.1%);
  --ods-color-dark-indigo-9: hsl(226, 70.0%, 55.5%);
  --ods-color-dark-indigo-10: hsl(227, 75.2%, 61.6%);
  --ods-color-dark-indigo-11: hsl(228, 100%, 75.9%);
  --ods-color-dark-indigo-12: hsl(226, 83.0%, 96.3%);

  --ods-color-dark-lime-1: hsl(75, 55.0%, 6.0%);
  --ods-color-dark-lime-2: hsl(74, 56.8%, 7.3%);
  --ods-color-dark-lime-3: hsl(78, 50.2%, 9.9%);
  --ods-color-dark-lime-4: hsl(79, 50.3%, 12.1%);
  --ods-color-dark-lime-5: hsl(79, 52.6%, 14.2%);
  --ods-color-dark-lime-6: hsl(78, 55.7%, 16.7%);
  --ods-color-dark-lime-7: hsl(77, 59.7%, 20.1%);
  --ods-color-dark-lime-8: hsl(75, 64.8%, 24.5%);
  --ods-color-dark-lime-9: hsl(81, 67.0%, 50.0%);
  --ods-color-dark-lime-10: hsl(75, 85.0%, 60.0%);
  --ods-color-dark-lime-11: hsl(81, 70.0%, 43.8%);
  --ods-color-dark-lime-12: hsl(84, 79.0%, 92.6%);

  --ods-color-dark-mauve-1: hsl(246, 6.0%, 9.0%);
  --ods-color-dark-mauve-2: hsl(240, 5.1%, 11.6%);
  --ods-color-dark-mauve-3: hsl(241, 5.0%, 14.3%);
  --ods-color-dark-mauve-4: hsl(242, 4.9%, 16.5%);
  --ods-color-dark-mauve-5: hsl(243, 4.9%, 18.8%);
  --ods-color-dark-mauve-6: hsl(244, 4.9%, 21.5%);
  --ods-color-dark-mauve-7: hsl(245, 4.9%, 25.4%);
  --ods-color-dark-mauve-8: hsl(247, 4.8%, 32.5%);
  --ods-color-dark-mauve-9: hsl(252, 4.0%, 45.2%);
  --ods-color-dark-mauve-10: hsl(247, 3.4%, 50.7%);
  --ods-color-dark-mauve-11: hsl(253, 4.0%, 63.7%);
  --ods-color-dark-mauve-12: hsl(256, 6.0%, 93.2%);

  --ods-color-dark-mint-1: hsl(173, 50.0%, 6.6%);
  --ods-color-dark-mint-2: hsl(176, 73.0%, 7.3%);
  --ods-color-dark-mint-3: hsl(175, 79.3%, 8.9%);
  --ods-color-dark-mint-4: hsl(174, 84.8%, 10.3%);
  --ods-color-dark-mint-5: hsl(174, 90.2%, 11.9%);
  --ods-color-dark-mint-6: hsl(173, 96.0%, 13.8%);
  --ods-color-dark-mint-7: hsl(172, 100%, 16.8%);
  --ods-color-dark-mint-8: hsl(170, 100%, 21.4%);
  --ods-color-dark-mint-9: hsl(167, 65.0%, 66.0%);
  --ods-color-dark-mint-10: hsl(163, 80.0%, 77.0%);
  --ods-color-dark-mint-11: hsl(167, 70.0%, 48.0%);
  --ods-color-dark-mint-12: hsl(165, 80.0%, 94.8%);

  --ods-color-dark-olive-1: hsl(110, 5.0%, 8.6%);
  --ods-color-dark-olive-2: hsl(105, 7.4%, 10.6%);
  --ods-color-dark-olive-3: hsl(106, 6.4%, 13.1%);
  --ods-color-dark-olive-4: hsl(106, 5.8%, 15.3%);
  --ods-color-dark-olive-5: hsl(107, 5.3%, 17.4%);
  --ods-color-dark-olive-6: hsl(107, 4.9%, 19.9%);
  --ods-color-dark-olive-7: hsl(108, 4.4%, 23.6%);
  --ods-color-dark-olive-8: hsl(110, 3.8%, 30.6%);
  --ods-color-dark-olive-9: hsl(110, 6.0%, 42.5%);
  --ods-color-dark-olive-10: hsl(111, 4.8%, 48.2%);
  --ods-color-dark-olive-11: hsl(110, 5.0%, 61.8%);
  --ods-color-dark-olive-12: hsl(110, 6.0%, 93.0%);

  --ods-color-dark-orange-1: hsl(30, 70.0%, 7.2%);
  --ods-color-dark-orange-2: hsl(28, 100%, 8.4%);
  --ods-color-dark-orange-3: hsl(26, 91.1%, 11.6%);
  --ods-color-dark-orange-4: hsl(25, 88.3%, 14.1%);
  --ods-color-dark-orange-5: hsl(24, 87.6%, 16.6%);
  --ods-color-dark-orange-6: hsl(24, 88.6%, 19.8%);
  --ods-color-dark-orange-7: hsl(24, 92.4%, 24.0%);
  --ods-color-dark-orange-8: hsl(25, 100%, 29.0%);
  --ods-color-dark-orange-9: hsl(24, 94.0%, 50.0%);
  --ods-color-dark-orange-10: hsl(24, 100%, 58.5%);
  --ods-color-dark-orange-11: hsl(24, 100%, 62.2%);
  --ods-color-dark-orange-12: hsl(24, 97.0%, 93.2%);

  --ods-color-dark-pink-1: hsl(318, 25.0%, 9.6%);
  --ods-color-dark-pink-2: hsl(319, 32.2%, 11.6%);
  --ods-color-dark-pink-3: hsl(319, 41.0%, 16.0%);
  --ods-color-dark-pink-4: hsl(320, 45.4%, 18.7%);
  --ods-color-dark-pink-5: hsl(320, 49.0%, 21.1%);
  --ods-color-dark-pink-6: hsl(321, 53.6%, 24.4%);
  --ods-color-dark-pink-7: hsl(321, 61.1%, 29.7%);
  --ods-color-dark-pink-8: hsl(322, 74.9%, 37.5%);
  --ods-color-dark-pink-9: hsl(322, 65.0%, 54.5%);
  --ods-color-dark-pink-10: hsl(323, 72.8%, 59.2%);
  --ods-color-dark-pink-11: hsl(325, 90.0%, 66.4%);
  --ods-color-dark-pink-12: hsl(322, 90.0%, 95.8%);

  --ods-color-dark-plum-1: hsl(301, 20.0%, 9.4%);
  --ods-color-dark-plum-2: hsl(300, 29.8%, 11.2%);
  --ods-color-dark-plum-3: hsl(298, 34.4%, 15.3%);
  --ods-color-dark-plum-4: hsl(297, 36.8%, 18.3%);
  --ods-color-dark-plum-5: hsl(296, 38.5%, 21.1%);
  --ods-color-dark-plum-6: hsl(295, 40.4%, 24.7%);
  --ods-color-dark-plum-7: hsl(294, 42.7%, 30.6%);
  --ods-color-dark-plum-8: hsl(292, 45.1%, 40.0%);
  --ods-color-dark-plum-9: hsl(292, 45.0%, 51.0%);
  --ods-color-dark-plum-10: hsl(295, 50.0%, 55.4%);
  --ods-color-dark-plum-11: hsl(300, 60.0%, 62.0%);
  --ods-color-dark-plum-12: hsl(296, 74.0%, 95.7%);

  --ods-color-dark-purple-1: hsl(284, 20.0%, 9.6%);
  --ods-color-dark-purple-2: hsl(283, 30.0%, 11.8%);
  --ods-color-dark-purple-3: hsl(281, 37.5%, 16.5%);
  --ods-color-dark-purple-4: hsl(280, 41.2%, 20.0%);
  --ods-color-dark-purple-5: hsl(279, 43.8%, 23.3%);
  --ods-color-dark-purple-6: hsl(277, 46.4%, 27.5%);
  --ods-color-dark-purple-7: hsl(275, 49.3%, 34.6%);
  --ods-color-dark-purple-8: hsl(272, 52.1%, 45.9%);
  --ods-color-dark-purple-9: hsl(272, 51.0%, 54.0%);
  --ods-color-dark-purple-10: hsl(273, 57.3%, 59.1%);
  --ods-color-dark-purple-11: hsl(275, 80.0%, 71.0%);
  --ods-color-dark-purple-12: hsl(279, 75.0%, 95.7%);

  --ods-color-dark-red-1: hsl(353, 23.0%, 9.8%);
  --ods-color-dark-red-2: hsl(357, 34.4%, 12.0%);
  --ods-color-dark-red-3: hsl(356, 43.4%, 16.4%);
  --ods-color-dark-red-4: hsl(356, 47.6%, 19.2%);
  --ods-color-dark-red-5: hsl(356, 51.1%, 21.9%);
  --ods-color-dark-red-6: hsl(356, 55.2%, 25.9%);
  --ods-color-dark-red-7: hsl(357, 60.2%, 31.8%);
  --ods-color-dark-red-8: hsl(358, 65.0%, 40.4%);
  --ods-color-dark-red-9: hsl(358, 75.0%, 59.0%);
  --ods-color-dark-red-10: hsl(358, 85.3%, 64.0%);
  --ods-color-dark-red-11: hsl(358, 100%, 69.5%);
  --ods-color-dark-red-12: hsl(351, 89.0%, 96.0%);

  --ods-color-dark-sage-1: hsl(155, 7.0%, 8.4%);
  --ods-color-dark-sage-2: hsl(150, 7.4%, 10.6%);
  --ods-color-dark-sage-3: hsl(150, 6.7%, 13.1%);
  --ods-color-dark-sage-4: hsl(150, 6.4%, 15.3%);
  --ods-color-dark-sage-5: hsl(150, 6.1%, 17.4%);
  --ods-color-dark-sage-6: hsl(150, 5.8%, 19.9%);
  --ods-color-dark-sage-7: hsl(150, 5.5%, 23.6%);
  --ods-color-dark-sage-8: hsl(150, 5.1%, 30.6%);
  --ods-color-dark-sage-9: hsl(155, 6.0%, 42.5%);
  --ods-color-dark-sage-10: hsl(153, 4.8%, 48.2%);
  --ods-color-dark-sage-11: hsl(155, 5.0%, 61.8%);
  --ods-color-dark-sage-12: hsl(155, 6.0%, 93.0%);

  --ods-color-dark-sand-1: hsl(61, 2.0%, 8.3%);
  --ods-color-dark-sand-2: hsl(60, 3.7%, 10.6%);
  --ods-color-dark-sand-3: hsl(58, 3.7%, 13.1%);
  --ods-color-dark-sand-4: hsl(57, 3.6%, 15.3%);
  --ods-color-dark-sand-5: hsl(56, 3.7%, 17.4%);
  --ods-color-dark-sand-6: hsl(55, 3.7%, 19.9%);
  --ods-color-dark-sand-7: hsl(53, 3.7%, 23.6%);
  --ods-color-dark-sand-8: hsl(50, 3.8%, 30.6%);
  --ods-color-dark-sand-9: hsl(50, 4.0%, 42.7%);
  --ods-color-dark-sand-10: hsl(52, 3.1%, 48.3%);
  --ods-color-dark-sand-11: hsl(50, 4.0%, 61.8%);
  --ods-color-dark-sand-12: hsl(56, 4.0%, 92.8%);

  --ods-color-dark-sky-1: hsl(205, 45.0%, 8.6%);
  --ods-color-dark-sky-2: hsl(202, 71.4%, 9.6%);
  --ods-color-dark-sky-3: hsl(201, 74.6%, 12.2%);
  --ods-color-dark-sky-4: hsl(201, 77.4%, 14.4%);
  --ods-color-dark-sky-5: hsl(200, 80.3%, 16.5%);
  --ods-color-dark-sky-6: hsl(200, 84.1%, 18.9%);
  --ods-color-dark-sky-7: hsl(199, 90.2%, 22.1%);
  --ods-color-dark-sky-8: hsl(198, 100%, 26.1%);
  --ods-color-dark-sky-9: hsl(193, 98.0%, 70.0%);
  --ods-color-dark-sky-10: hsl(192, 100%, 77.0%);
  --ods-color-dark-sky-11: hsl(192, 85.0%, 55.8%);
  --ods-color-dark-sky-12: hsl(198, 98.0%, 95.8%);

  --ods-color-dark-slate-1: hsl(200, 7.0%, 8.8%);
  --ods-color-dark-slate-2: hsl(195, 7.1%, 11.0%);
  --ods-color-dark-slate-3: hsl(197, 6.8%, 13.6%);
  --ods-color-dark-slate-4: hsl(198, 6.6%, 15.8%);
  --ods-color-dark-slate-5: hsl(199, 6.4%, 17.9%);
  --ods-color-dark-slate-6: hsl(201, 6.2%, 20.5%);
  --ods-color-dark-slate-7: hsl(203, 6.0%, 24.3%);
  --ods-color-dark-slate-8: hsl(207, 5.6%, 31.6%);
  --ods-color-dark-slate-9: hsl(206, 6.0%, 43.9%);
  --ods-color-dark-slate-10: hsl(206, 5.2%, 49.5%);
  --ods-color-dark-slate-11: hsl(206, 6.0%, 63.0%);
  --ods-color-dark-slate-12: hsl(210, 6.0%, 93.0%);

  --ods-color-dark-teal-1: hsl(168, 48.0%, 6.5%);
  --ods-color-dark-teal-2: hsl(169, 77.8%, 7.1%);
  --ods-color-dark-teal-3: hsl(170, 76.1%, 9.2%);
  --ods-color-dark-teal-4: hsl(171, 75.8%, 11.0%);
  --ods-color-dark-teal-5: hsl(171, 75.7%, 12.8%);
  --ods-color-dark-teal-6: hsl(172, 75.8%, 15.1%);
  --ods-color-dark-teal-7: hsl(172, 76.7%, 18.6%);
  --ods-color-dark-teal-8: hsl(173, 80.2%, 23.7%);
  --ods-color-dark-teal-9: hsl(173, 80.0%, 36.0%);
  --ods-color-dark-teal-10: hsl(174, 83.9%, 38.2%);
  --ods-color-dark-teal-11: hsl(174, 90.0%, 40.7%);
  --ods-color-dark-teal-12: hsl(166, 73.0%, 93.1%);

  --ods-color-dark-tomato-1: hsl(10, 23.0%, 9.4%);
  --ods-color-dark-tomato-2: hsl(9, 44.8%, 11.4%);
  --ods-color-dark-tomato-3: hsl(8, 52.0%, 15.3%);
  --ods-color-dark-tomato-4: hsl(7, 56.3%, 18.0%);
  --ods-color-dark-tomato-5: hsl(7, 60.1%, 20.6%);
  --ods-color-dark-tomato-6: hsl(8, 64.8%, 24.0%);
  --ods-color-dark-tomato-7: hsl(8, 71.2%, 29.1%);
  --ods-color-dark-tomato-8: hsl(10, 80.2%, 35.7%);
  --ods-color-dark-tomato-9: hsl(10, 78.0%, 54.0%);
  --ods-color-dark-tomato-10: hsl(10, 81.7%, 59.0%);
  --ods-color-dark-tomato-11: hsl(10, 85.0%, 62.8%);
  --ods-color-dark-tomato-12: hsl(10, 89.0%, 96.0%);

  --ods-color-dark-violet-1: hsl(250, 20.0%, 10.2%);
  --ods-color-dark-violet-2: hsl(255, 30.3%, 12.9%);
  --ods-color-dark-violet-3: hsl(253, 37.0%, 18.4%);
  --ods-color-dark-violet-4: hsl(252, 40.1%, 22.5%);
  --ods-color-dark-violet-5: hsl(252, 42.2%, 26.2%);
  --ods-color-dark-violet-6: hsl(251, 44.3%, 31.1%);
  --ods-color-dark-violet-7: hsl(250, 46.8%, 38.9%);
  --ods-color-dark-violet-8: hsl(250, 51.8%, 51.2%);
  --ods-color-dark-violet-9: hsl(252, 56.0%, 57.5%);
  --ods-color-dark-violet-10: hsl(251, 63.2%, 63.2%);
  --ods-color-dark-violet-11: hsl(250, 95.0%, 76.8%);
  --ods-color-dark-violet-12: hsl(252, 87.0%, 96.4%);

  --ods-color-dark-yellow-1: hsl(45, 100%, 5.5%);
  --ods-color-dark-yellow-2: hsl(46, 100%, 6.7%);
  --ods-color-dark-yellow-3: hsl(45, 100%, 8.7%);
  --ods-color-dark-yellow-4: hsl(45, 100%, 10.4%);
  --ods-color-dark-yellow-5: hsl(47, 100%, 12.1%);
  --ods-color-dark-yellow-6: hsl(49, 100%, 14.3%);
  --ods-color-dark-yellow-7: hsl(49, 90.3%, 18.4%);
  --ods-color-dark-yellow-8: hsl(50, 100%, 22.0%);
  --ods-color-dark-yellow-9: hsl(53, 92.0%, 50.0%);
  --ods-color-dark-yellow-10: hsl(54, 100%, 68.0%);
  --ods-color-dark-yellow-11: hsl(48, 100%, 47.0%);
  --ods-color-dark-yellow-12: hsl(53, 100%, 91.0%);
}