.ods-theme {
  --ods-font-family-serif: serif;
  --ods-font-family-sans-serif: sans-serif;
  --ods-font-family-monospace: monospace;

  --ods-font-size-50: 11px;
  --ods-font-size-75: 12px;
  --ods-font-size-100: 14px;
  --ods-font-size-200: 16px;
  --ods-font-size-300: 18px;
  --ods-font-size-400: 20px;
  --ods-font-size-500: 22px;
  --ods-font-size-600: 25px;
  --ods-font-size-700: 28px;
  --ods-font-size-800: 32px;
  --ods-font-size-900: 36px;
  --ods-font-size-1000: 40px;
  --ods-font-size-1100: 45px;
  --ods-font-size-1200: 50px;
  --ods-font-size-1300: 60px;

  /* Heading */
  --ods-typo-heading-line-height: 1.3em;
  --ods-typo-heading-margin-top: 0.125em;
  --ods-typo-heading-margin-bottom: 0.375em;
  --ods-typo-heading-text-transform: none;

  --ods-typo-heading-size-xxxl: var(--ods-font-size-1300);
  --ods-typo-heading-size-xxl: var(--ods-font-size-1100);
  --ods-typo-heading-size-xl: var(--ods-font-size-900);
  --ods-typo-heading-size-l: var(--ods-font-size-700);
  --ods-typo-heading-size-m: var(--ods-font-size-500);
  --ods-typo-heading-size-s: var(--ods-font-size-300);
  --ods-typo-heading-size-xs: var(--ods-font-size-200);
  --ods-typo-heading-size-xxs: var(--ods-font-size-100);

  --ods-typo-heading-weight-light: 300;
  --ods-typo-heading-weight-default: 400;
  --ods-typo-heading-weight-heavy: 700;

  /* Text */
  --ods-typo-text-line-height: 1.5em;
  --ods-typo-paragraph-margin-top: 0.875em;
  --ods-typo-paragraph-margin-bottom: 0.25em;
  
  --ods-typo-text-size-xxxl: var(--ods-font-size-600);
  --ods-typo-text-size-xxl: var(--ods-font-size-500);
  --ods-typo-text-size-xl: var(--ods-font-size-400);
  --ods-typo-text-size-l: var(--ods-font-size-300);
  --ods-typo-text-size-m: var(--ods-font-size-200);
  --ods-typo-text-size-s: var(--ods-font-size-100);
  --ods-typo-text-size-xs: var(--ods-font-size-75);
  --ods-typo-text-size-xxs: var(--ods-font-size-50);

  --ods-typo-text-weight-light: 300;
  --ods-typo-text-weight-default: 400;
  --ods-typo-text-weight-heavy: 600;
}