.ods-dark-mode {
  --ods-text-color-normal: var(--ods-color-dark-gray-11);
  --ods-text-color-bright: var(--ods-color-dark-gray-12);
  --ods-text-color-subtle: var(--ods-color-dark-gray-9);
  --ods-text-color-accent: var(--ods-color-dark-gold-11);
  --ods-text-color-link: var(--ods-color-dark-blue-9);
  --ods-text-color-link-hover: var(--ods-color-dark-blue-11);
}