.ods-light-mode {
  --ods-text-color-normal: var(--ods-color-light-gray-11);
  --ods-text-color-bright: var(--ods-color-light-gray-12);
  --ods-text-color-subtle: var(--ods-color-light-gray-9);
  --ods-text-color-accent: var(--ods-color-light-gold-11);
  --ods-text-color-link: var(--ods-color-light-blue-9);
  --ods-text-color-link-hover: var(--ods-color-light-blue-11);
}