.focus {
  outline: var(--ods-focus-ring-outline-width) solid var(--ods-focus-ring-color);
  outline-offset: var(--ods-focus-ring-outline-offset);
}

.focusRing {
  outline: var(--ods-focus-ring-keyboard-outline-width) solid var(--ods-focus-ring-color);
  outline-offset: var(--ods-focus-ring-keyboard-outline-offset);
}